:root {
  --color-primary-light: #ffffff;
  --color-primary-dark: #011c44;
  --color-primary-brands: #2b7fff;
  --color-secondary-text: #4a4a4a;
  --color-secondary-subtext: #747272;
  --color-secondary-btns: #011c44;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
